.wy-nav-content {
    max-width: 81% !important;
}

/* add horizontal scroll bar to pandas tables */
.output.text_html {
    overflow-x: auto;
}

dl.xr-attrs {
    grid-template-columns: auto auto !important;
}

div.xr-var-name {
    margin-top: 12px !important;
}

div.xr-index-name {
    margin-top: 12px !important;
}

/* Code color highlights */
.highlight .hll { background-color: #d6ecaa }
